
{% extends "blog/base.html" %}
{% block content %}
<h1>{{ data.title }}</h1>
<p>{{ data.author.name }}</p>
<p>{{ data.category.title }}</p>
<p>{{ data.views }}</p>
<p>{{ data.description }}</p>

{% endblock %}

{% block title %}{{ data.title|title }}{% endblock %}