
{% extends "blog/base.html" %}

{% block title %}List of blog {% endblock %}

{% block content %}


<h3>Total {{ data|length }} post{{ data|length|pluralize }}</h3>

{% for item in data %}
{# thi is cooment #}
    <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.title|title }}</h5>
            <p class="card-text">{{ item.description|truncatechars:"5" }}</p>
            <a href="/blogs/{{ item.id }}" class="btn btn-primary">Read More</a>
          </div>
          <div class="card-footer text-muted">
            {{ item.created|timesince }}
          </div>
        </div>
{% endfor %}

{% endblock %}
